   @model double


<style>

    .video-container {
        position: relative;
        padding-bottom: 56.25%; /* 16:9 aspect ratio */
        height: 0;
        overflow: hidden;
        max-width: 100%;
        /* Change or remove background color */
        background: #f0f0f0; /* light gray color */
    }

        .video-container video {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }

    .navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: cadetblue;
        padding: 10px 20px;
    }

        .navbar a {
            color: white;
            text-decoration: none;
            margin: 0 10px;
        }

            .navbar a:hover {
                color: #ddd;
            }

        .navbar .phone {
            margin-left: auto;
        }
</style>
<div class="navbar">
    <a href="https://www.instagram.com/whitevillaa.flora/" target="_blank">
        <i class="fab fa-instagram"></i> Instagram
    </a>
    <a class="text-white text-decoration-none" href="https://maps.app.goo.gl/t4yMgud3yghKPyRL7" target="_blank">
        <i class="fas fa-map-marker-alt"></i> 📍 الموقع: جدة – بداية الحرازات بالقرب من محطة دلتا
    </a>
    <a href="tel:01012923242" class="phone">
        <i class="fa-brands fa-whatsapp"></i> +966 55 354 5467‬‏
    </a>
</div>

<nav class="navbar navbar-expand-lg navbar-light p-3" style="background-color: #ffa45f; direction: rtl;">
    <div class="container-fluid">
        <a class="navbar-brand mb-0 h1" href="#" style="color: white; font-weight: bold; font-size: 20px;">
            <h2> شاليه فلورا الفندقية🌷 | جدة</h2>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                <li class="nav-item">
                    <a class="nav-link" href="/Admin/login" style="color: white;"> تسجيل دخول </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/Flora/Index" style="color: white;">الصفحه الرئيسيه</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/Flora/Offers" style="color: white;">العروض</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<br />
<br />
<br />
<div class=" container-fluid mt-5">
    <div class="row">
        <div class="col-md-6">

            <div class="floating-img">
                <ion-icon class="close-icon" name="close-outline">
                    <i class="fa-regular fa-circle-xmark"></i>
                </ion-icon>

                <button class="btn-swipe btn-swipe-left">
                    <i class="fa-solid fa-chevron-left"></i>
                </button>
                <div class="left-imgs">
                    <img class="main-img-float img-fluid" alt="product image" src="/assets/images/shop1.jpg" />
                    <button class="btn-swipe btn-swipe-right">
                        <i class="fa-solid fa-chevron-right"></i>
                    </button>

                    <div class="thumbnails-float">
                        <!-- Thumbnail Images -->
                        <div class="thumb-img-float active-thumb">
                            <img alt="image-thumbnails" class="img-fluid" src="/assets/images/shop1.jpg" />
                        </div>
                        <div class="thumb-img">
                            <img alt="image-thumbnails" class="img-fluid"
                                 src="~/assets/images/shop2.jpg" />
                        </div>
                        <div class="thumb-img">
                            <img alt="image-thumbnails" class="img-fluid"
                                 src="~/assets/images/shop3.jpg" />
                        </div>
                        <div class="thumb-img">
                            <img alt="image-thumbnails" class="img-fluid"
                                 src="~/assets/images/shop4.jpg" />
                        </div>
                        <div class="thumb-img">
                            <img alt="image-thumbnails" class="img-fluid"
                                 src="~/assets/images/shop5.jpg" />
                        </div>
                        <div class="thumb-img">
                            <img alt="image-thumbnails" class="img-fluid"
                                 src="~/assets/images/shop6.jpg" />
                        </div>
                        <div class="thumb-img">
                            <img alt="image-thumbnails" class="img-fluid"
                                 src="~/assets/images/shop7.jpg" />
                        </div>
                        <div class="thumb-img">
                            <img alt="image-thumbnails" class="img-fluid"
                                 src="~/assets/images/shop8.jpg" />
                        </div>
                        <div class="thumb-img">
                            <img alt="image-thumbnails" class="img-fluid"
                                 src="~/assets/images/shop9.jpg" />
                        </div>
                        <div class="thumb-img">
                            <img alt="image-thumbnails" class="img-fluid"
                                 src="~/assets/images/shop10.jpg" />
                        </div>
                        <div class="thumb-img">
                            <img alt="image-thumbnails" class="img-fluid"
                                 src="~/assets/images/shop11.jpg" />
                        </div>
                        <div class="thumb-img">
                            <img alt="image-thumbnails" class="img-fluid"
                                 src="~/assets/images/shop12.jpg" />
                        </div>
                        <div class="thumb-img">
                            <img alt="image-thumbnails" class="img-fluid"
                                 src="~/assets/images/shop13.jpg" />
                        </div>
                        <div class="thumb-img">
                            <img alt="image-thumbnails" class="img-fluid"
                                 src="~/assets/images/shop14.jpeg" />
                        </div>
                        <div class="thumb-img">
                            <img alt="image-thumbnails" class="img-fluid"
                                 src="~/assets/images/shop15.jpg" />
                        </div>
                        <div class="thumb-img">
                            <img alt="image-thumbnails" class="img-fluid"
                                 src="~/assets/images/shop16.jpg" />
                        </div>


                    </div>
                </div>
            </div>

            <div class="left-imgs">
                <img class="main-img img-fluid"
                     alt="product image"
                     src="~/assets/images/shop1.jpg" />
                <div class="thumbnails">
                    <div class="thumb-img active-thumb">
                        <img alt="image-thumbnails" class="img-fluid"
                             src="~/assets/images/shop1.jpg" />
                    </div>
                    <div class="thumb-img">
                        <img alt="image-thumbnails" class="img-fluid"
                             src="~/assets/images/shop2.jpg" />
                    </div>
                    <div class="thumb-img">
                        <img alt="image-thumbnails" class="img-fluid"
                             src="~/assets/images/shop3.jpg" />
                    </div>
                    <div class="thumb-img">
                        <img alt="image-thumbnails" class="img-fluid"
                             src="~/assets/images/shop4.jpg" />
                    </div>
                    <div class="thumb-img">
                        <img alt="image-thumbnails" class="img-fluid"
                             src="~/assets/images/shop5.jpg" />
                    </div>
                    <div class="thumb-img">
                        <img alt="image-thumbnails" class="img-fluid"
                             src="~/assets/images/shop6.jpg" />
                    </div>


                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="right-text shadow p-5">
                <span class="heading-secondary">
                    شاليه فلورا الفندقية🌷 | جدة
                </span>
                <p style="font-size:30px;font-weight:bold" class="heading-primary">شاليه مرتب وراقي يشارككم أمتع اللحظات </p>
                <p class="description">
                    تصميمنا على الطراز الحديث وهي وجهتكم
                    الأولى للجمعات العائلية والمناسبات السعيدة لقضاء وقت ممتع تتميز باحتوائها على مجلس رئيسي
                    وثلاث مجالس اضافيه وجلسة خارجية بالإضافة الى مسبح للكبار مع كراسي تشميس ومسبح العاب مائية
                    كما انه يوجد مطبخ وطاولات طعام وبوفيه ودورات مياه. مكان هادئ مع اطلاله مرتفعة على الجبال
                    والافق ويتميز بالخصوصية وبقربة من جميع الخدمات نتمنى لكم طيب الاقامة وحياكم الله ضيوفنا الأعزاء
                </p>

            </div>
        </div>
    </div>
</div>
<br />
<br />
<section>
    <div class="video-container">
        <video controls autoplay muted class="img-fluid">
            <source src="/assets/images/video.mp4" type="video/mp4">
            Your browser does not support the video tag.
        </video>
    </div>
</section>
<section class=" container-fluid hero w-75" style="direction:rtl">
    <h1>المرافق والمميزات</h1>
    <div class="features-container">
        <div class="feature">
            <h2>المجالس والجلسات</h2>
            <ul>
                <li>مجلس رئيسي مطل على المسبح يتسع ل 15 شخص</li>
                <li>مجلس صالة مطل على المسبح يتسع ل 10 اشخاص</li>
                <li>مجلس إضافي مستقل بحمام ومطل على مسبح الأطفال يتسع ل 15 شخص</li>
                <li>مجلس مستقل بحمام ومدخل خاص يتسع ل 8 اشخاص</li>
                <li>طاولة طعام تسع ل 6 اشخاص</li>
            </ul>
        </div>
        <div class="feature">
            <h2>المسابح</h2>
            <ul>
                <li>مسبح خارجي بحاجز، عمق ثابت 145 سم. ابعاد المسبح 4 فى 7 م</li>
                <li>مسبح أطفال مع ملاهي بحاجز، عمق ثابت 60 سم. ابعاد المسبح 4 فى 6 م</li>
            </ul>
        </div>
        <div class="feature">
            <h2>المرافق</h2>
            <ul>
                <li>إضاءات خارجيه إضافية</li>
                <li>سماعة بلوتوث ستيريو</li>
                <li>تلفزيون 55 بوصة عدد3</li>
                <li>ركن بوفيه 6 متر مع طاولة طعام عدد 6 اشخاص</li>
                <li>جلسة اطلاله مرتفعة على الجبال والافق</li>
                <li>اطلالة على المسبح</li>
                <li>مروش ومغسله وجلسه اماميه امام المسبح مع كراسي استرخاء</li>
                <li>انترنت</li>
            </ul>
        </div>
        <div class="feature">
            <h2>دورات المياه</h2>
            <ul>
                <li>دورات المياه 4</li>
            </ul>
            <h3>مرافق دورات المياه</h3>
            <ul>
                <li>مناديل</li>
                <li>صابون</li>
                <li>شامبو وبلسم</li>
                <li>دش</li>
            </ul>
        </div>
        <div class="feature">
            <h2>مرافق المطبخ</h2>
            <ul>
                <li>مايكرو ويف</li>
                <li>ثلاجه</li>
                <li>غلاية</li>
                <li>أواني طبخ</li>
                <li>الة قهوة</li>
            </ul>
        </div>
        <div class="feature">
            <h2>غرف النوم والأسرّة</h2>
            <ul>
                <li>1 غرف نوم (1 سرير ماستر) مطله على المسبح</li>
            </ul>
        </div>
        <div class="feature">
            <h2>
                شروط والإلغاء الحجز

            </h2>
            <h4>
                شروط الحجز (من قبل المضيف)
            </h4>
            <ul>
                <li>	يدفع عند الوصول مبلغ 500 كتأمين ويسترجع عند المغادرة في حال تم التأكد من سلامة الممتلكات والنظافة العامة.</li>
                <li>لن يتم حجز الشاليه الا بعد تحويل عربون بقيمة نصف الايجار غير مسترد في حالة الإلغاء. </li>
                <li>يتم تسليم الشاليه بعد دفع المبلغ المتبقي والتأمين وتوقيع العقد والتأكد من مطابقة اسم المستأجر برؤبة اصل الهوية   </li>
                <li>الدخول الساعة الرابعة عصرا والخروج الساعة التاسعة صباحا اليوم التالي</li>
                <li>يرجى الالتزام بالخروج في الوقت المحدد وأيضاً الالتزام بأي شروط أخرى مذكورة</li>
                <li>يمنع دخول الشيشه او التدخين داخل الغرف والصالات </li>

            </ul>
        </div>
        <div class="feature">
            <h2>
                سياسة الإلغاء والاسترجاع
            </h2>
            <ul>
                <li>لا يمكن الغاء هذا الحجز وفي حالة الإلغاء العربون يكون غير مسترد.</li>
                <li>تأجيل الحجز ممكن قبل الوصول بخمس أيام وسيتم التغيير في حاله توفر التاريخ المطلوب الجديد </li>


            </ul>
        </div>



        <div class="feature container  position-relative">
            <h3>سعر اليوم : @Model ريال</h3>
            <hr />
            <h3>اختر اليوم /الايام:</h3>
            <form asp-action="Payment" method="get">
                <div class="date row">
                    <div class="arrive col-md-6 mb-3">
                        <h4>تاريخ الوصول:</h4>
                        <input type="date" id="arriveDate" class="form-control" onchange="checkAvailability(); calculateTotalPrice()" />
                        <div id="arrivalMessage" style="color: red;"></div>
                    </div>
                    <div class="leave col-md-6 mb-3">
                        <h4>تاريخ المغادرة:</h4>
                        <input type="date" id="leaveDate" class="form-control" onchange="checkAvailability(); getTotalPrice(); calculateTotalPrice();" />
                        <div id="departureMessage" style="color: red;"></div>
                    </div>
                </div>
            </form>
            <hr />
            <div class="time row">
                <div class="arrive col-md-6 mb-3">
                    <h4>وقت الوصول:</h4>
                    <h6 style="font-size:27px">4:00 عصرا </h6>
                </div>
                <div class="leave col-md-6 mb-3">
                    <h4>وقت المغادره:</h4>
                    <h6 style="font-size:27px">9:00 صباحا </h6>
                </div>
            </div>
            <hr />
            <h4>السعر الكلي: <span style="font-size:27px; color:orangered" id="totalPrice"> ريال</span></h4>
            <hr />
            <form asp-action="Payment" method="post" id="bookingForm">
                <div class="d-grid gap-2 col-12 col-md-6 mx-auto">
                    <input type="hidden" id="pricePerDay" name="pricePerDay" value="@Model" />
                    <input type="hidden" id="totalPriceValue" name="totalPrice" />
                    <input type="hidden" id="hiddenArriveDate" name="arriveDate" />
                    <input type="hidden" id="hiddenLeaveDate" name="LeaveDate" />
                    <button id="submitButton" class="btn text-center " style="background-color: orangered; color: white;" type="submit">احجز الان</button>
                </div>
            </form>
            @if (ViewBag.dis != null)
            {
                <input type="hidden" id="discountPercentage" value="@ViewBag.dis " />
                <div class="position-absolute top-0 start-0 py-2 px-3 rounded-3  fs-3" style="background-color: orangered; color: white;">
                    خصم @ViewBag.dis %
                </div>
            }
        </div>

    </div>
</section>

<div class="container my-5">
    <footer class="text-center text-white" style="background-color: #caced1;">
        <div class="container p-4">
            <section class="">
                <div class="row">
                    <div class="col-lg-2 col-md-12 mb-4 mb-md-0">
                        <div class="bg-image hover-overlay ripple shadow-1-strong rounded"
                             data-ripple-color="light">
                            <img src="~/assets/images/shop1.jpg"
                                 class="w-100" />
                            <a href="#!">
                                <div class="mask"
                                     style="background-color: rgba(251, 251, 251, 0.2);"></div>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-12 mb-4 mb-md-0">
                        <div class="bg-image hover-overlay ripple shadow-1-strong rounded"
                             data-ripple-color="light">
                            <img src="~/assets/images/shop2.jpg"
                                 class="w-100" />
                            <a href="#!">
                                <div class="mask"
                                     style="background-color: rgba(251, 251, 251, 0.2);"></div>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-12 mb-4 mb-md-0">
                        <div class="bg-image hover-overlay ripple shadow-1-strong rounded"
                             data-ripple-color="light">
                            <img src="~/assets/images/shop3.jpg"
                                 class="w-100" />
                            <a href="#!">
                                <div class="mask"
                                     style="background-color: rgba(251, 251, 251, 0.2);"></div>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-12 mb-4 mb-md-0">
                        <div class="bg-image hover-overlay ripple shadow-1-strong rounded"
                             data-ripple-color="light">
                            <img src="~/assets/images/shop4.jpg"
                                 class="w-100" />
                            <a href="#!">
                                <div class="mask"
                                     style="background-color: rgba(251, 251, 251, 0.2);"></div>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-12 mb-4 mb-md-0">
                        <div class="bg-image hover-overlay ripple shadow-1-strong rounded"
                             data-ripple-color="light">
                            <img src="~/assets/images/shop10.jpg"
                                 class="w-100" />
                            <a href="#!">
                                <div class="mask"
                                     style="background-color: rgba(251, 251, 251, 0.2);"></div>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-12 mb-4 mb-md-0">
                        <div class="bg-image hover-overlay ripple shadow-1-strong rounded"
                             data-ripple-color="light">
                            <img src="~/assets/images/shop11.jpg"
                                 class="w-100" />
                            <a href="#!">
                                <div class="mask"
                                     style="background-color: rgba(251, 251, 251, 0.2);"></div>
                            </a>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <div class="text-center p-3 d-flex justify-content-around" style="background-color: rgba(0, 0, 0, 0.2);">
            <div class="instegram">
                <i class="fa-brands fa-instagram"></i>
                <a class="text-white text-decoration-none" href="https://www.instagram.com/whitevillaa.flora/">Floara Instegram</a>
            </div>
            <div class="map">
                <a class="text-white text-decoration-none" href="https://maps.app.goo.gl/t4yMgud3yghKPyRL7">
                    📍 الموقع: جدة – بداية الحرازات بالقرب من محطة دلتا
                </a>
            </div>
        </div>
    </footer>
</div>

<script src="~/js/flora.js" asp-append-version="true"></script>
<script src="~/lib/font-awesome/js/all.min.js"></script>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        const leftArrow = document.querySelector(".btn-swipe-left");
        const rightArrow = document.querySelector(".btn-swipe-right");

        let index = 0;
        const images = [
            "/assets/images/shop1.jpg",
            "/assets/images/shop2.jpg",
            "/assets/images/shop3.jpg",
            "/assets/images/shop4.jpg",
            "/assets/images/shop5.jpg",
            "/assets/images/shop6.jpg",
            "/assets/images/shop7.jpg",
            "/assets/images/shop8.jpg",
            "/assets/images/shop9.jpg",
            "/assets/images/shop10.jpg",
            "/assets/images/shop11.jpg",
            "/assets/images/shop12.jpg",
            "/assets/images/shop13.jpg",
            "/assets/images/shop14.jpeg",
            "/assets/images/shop15.jpg",
            "/assets/images/shop16.jpg",


        ];

        function updateMainImage() {
            if (images.length > 0) {
                const mainImg = document.querySelector(".main-img-float");
                mainImg.src = images[index];
            }
        }

        leftArrow.addEventListener("click", function () {
            if (index > 0) {
                index -= 1;
                updateMainImage();
                console.log(`Swiped left to image at index ${index}`);
            }
        });

        rightArrow.addEventListener("click", function () {
            if (index < images.length - 1) {
                index += 1;
                updateMainImage();
                console.log(`Swiped right to image at index ${index}`);
            }
        });

        // Function to check availability
        async function checkAvailability() {
            var arriveDate = formatDate(document.getElementById('arriveDate').value);
            var leaveDate = formatDate(document.getElementById('leaveDate').value);

            try {
                const arrivalResponse = await fetch('/Admin/checkAvailability?date=' + arriveDate);
                const arrivalData = await arrivalResponse.json();

                if (arrivalData.booked) {
                    document.getElementById('arrivalMessage').innerText = "هذا اليوم محجوز اختار يوم اخر ";
                } else {
                    document.getElementById('arrivalMessage').innerText = "";
                }

                const departureResponse = await fetch('/Admin/checkAvailability?date=' + leaveDate);
                const departureData = await departureResponse.json();

                if (departureData.booked) {
                    document.getElementById('departureMessage').innerText = "هذا اليوم محجوز اختار يوم اخر";
                } else {
                    document.getElementById('departureMessage').innerText = "";
                }

                document.getElementById('submitButton').disabled = arrivalData.booked || departureData.booked;
            } catch (error) {
                console.error('Error checking availability:', error);
            }
        }

        window.checkAvailability = checkAvailability;

        async function getTotalPrice() {
            var arrive = formatDate(document.getElementById('arriveDate').value);
            var leave = formatDate(document.getElementById('leaveDate').value);

            console.log(arrive);
            console.log(leave);
            const data = {
                arriveDate: arrive,
                leaveDate: leave,
            };
            const xhr = new XMLHttpRequest();
            xhr.open('POST', '/Admin/CalculateTotalPrice', true);
            xhr.setRequestHeader('Content-Type', 'application/json;charset=UTF-8');

            xhr.onreadystatechange = function () {
                if (xhr.readyState === XMLHttpRequest.DONE) {
                    if (xhr.status === 200) {
                        const response = JSON.parse(xhr.responseText);
                        console.log(response);
                        document.getElementById('totalPrice').innerText = response.totalPrice + " ريال";
                    } else {
                        console.error('Error:', xhr.statusText);
                        alert('حدث خطأ أثناء الإرسال');
                    }
                }
            };

            xhr.send(JSON.stringify(data));
        }
        window.getTotalPrice = getTotalPrice;

        function formatDate(dateString) {
            const date = new Date(dateString);
            const year = date.getFullYear();
            const month = (date.getMonth() + 1).toString().padStart(2, '0');
            const day = date.getDate().toString().padStart(2, '0');
            return `${year}-${month}-${day}`;
        }

        function calculateTotalPrice() {
            var pricePerDay = @Model;
            var arriveDate = document.getElementById('arriveDate').value;
            var leaveDate = document.getElementById('leaveDate').value;

            if (arriveDate && leaveDate) {
                var arrive = new Date(arriveDate);
                var leave = new Date(leaveDate);

                var timeDiff = leave.getTime() - arrive.getTime();
                var daysDiff = Math.ceil(timeDiff / (1000 * 3600 * 24));

                var totalPrice = daysDiff * pricePerDay;

                var discountPercentageElement = document.getElementById('discountPercentage');
                var discountPercentage = discountPercentageElement ? parseFloat(discountPercentageElement.value) : 0;

                if (discountPercentage && !isNaN(discountPercentage)) {
                    var discountAmount = (totalPrice * discountPercentage) / 100;
                    totalPrice -= discountAmount;
                }

                document.getElementById('totalPrice').innerText = totalPrice + " ريال";
                document.getElementById('totalPriceValue').value = totalPrice;
                document.getElementById('hiddenLeaveDate').value = leaveDate;
                document.getElementById('hiddenArriveDate').value = arriveDate;
            }
        }

        window.calculateTotalPrice = calculateTotalPrice;

        document.getElementById('bookingForm').addEventListener('submit', function (event) {
            calculateTotalPrice();
        });

        function setDefaultDates() {
            var today = new Date();
            var tomorrow = new Date();
            tomorrow.setDate(today.getDate() + 1);

            var todayStr = today.toISOString().split('T')[0];
            var tomorrowStr = tomorrow.toISOString().split('T')[0];

            document.getElementById('arriveDate').value = todayStr;
            document.getElementById('leaveDate').value = tomorrowStr;
        }

        setDefaultDates();
        calculateTotalPrice();
    });
</script>



